
.page__container_auth {
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  width: 90%;
  max-width: 450px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--round-shadow);
  align-items: center;
}

